*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-recepcao {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}
.content-recepcao{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    padding: 18px;
}
.titleMedicosDisponiveis{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #B0BEC5;
}
.medicosDisponiveis{
    background-color: #FFF;
    width: 25%;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 4px;
    gap: 8px;
}
.agenda{
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    margin-left: 18px;
    padding-left: 18px;
    width: 100%;
    border-radius: 4px;
}
.contentConsultas{
    display: flex;
    flex-direction: row;
}
.optionConsultas{
    display: flex;
    flex-direction: column;
    margin-left: 18px;
    margin-top: 56px;
}
.btnConsultas{
    background-color: #43A047;
    color: #FFF;
    border-width: 0;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 18px;
}
.btnConsultas:hover{
    background-color: #388E3C;
}

.tabela-consultas {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    text-align: left;
  }
  
  .tabela-consultas th,
  .tabela-consultas td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .tabela-consultas th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  .tabela-consultas tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .tabela-consultas tr:hover {
    background-color: #0288D1;
  }
  .tabelaConsultas{
    width: 85%;
  }

  .selectMedicosDisponiveis{
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
    border-width: 1px;
  }
  .labelMedicosDisponiveis{
    font-size: 16px;
    font-weight: bold;
    color: #B0BEC5;
    margin-top: 8px;
  }
  .btnLimparBuscar{
    background-color: #B0BEC5;
    color: #FFF;
    padding: 8px 16px;
    border-radius: 4px;
    border-width: 0;
    margin-top: 4px;
  }
  .btnBuscar{
    background-color: #0288D1;
    color: #FFF;
    padding: 8px 16px;
    border-radius: 4px;
    border-width: 0;
    margin-top: 4px;
    margin-right: 8px;
  }
  .btnBuscar:hover{
    background-color: #046daa;
  }
  .btnLimparBuscar:hover{
    background-color: #90A4AE;
  }
  